// --- fontawesome
// @import "font-awesome-sprockets";
// @import "font-awesome";

// --- colors
$custom: #197282;
$customgrey: #E6F2F1;
$colors: (
  "blue": $custom
);
$theme-colors: (
  "primary": $custom,
  "secondary": $customgrey,
  "custom": $custom
);

// --- bootstrap
@import "bootstrap/scss/bootstrap";

body {
  padding-top: 60px;
}


